<span style="font-size:xx-large; color:SeaGreen;text-align:center;">**EXPORTING RESULTS FROM STATA**</span>

In this ressource, we will discus about three main outputs types :

- Excel file exporting;
- Word file exporting;
- PDF file exporting.

****

In [1]:
* Loading datasets
sysuse auto, clear

(1978 Automobile Data)

In [2]:
* Creating categorical variables 
egen prixg = cut(price), group(4)
label define prixg 0"Facile" 1"Moyen" 2"Cher" 3"Dur"
label value prixg prixg

In [3]:
egen mpg_cat = cut(mpg), group(4)
label define mpg_cat 0"Low mpg" 1"medium mpg" 2"Good mpg" 3"Great mpg"
label value mpg_cat mpg_cat

## <span style="color:olive"> I. Excel files exporting using putexcel, tab2xl, tabout command </span>

In [ ]:
* To take a look at the command, we use help command
help putexcel

In [4]:
* First, we need to set the excel file 
putexcel set mystatxl, replace
/* We can also define the excel file in many other way:
putexcel set mystatxl, sheet(stat, replace)
putexcel set mystatxl, sheet(stat) modify */

Note: file will be replaced when the first putexcel command is issued

### <span style="color:olive"> I.1 One-way tables output </span>

In [5]:
* One way tabulate
tabulate prixg, sort matcell(mat1)

      prixg |      Freq.     Percent        Cum.
------------+-----------------------------------
      Moyen |         19       25.68       25.68
        Dur |         19       25.68       51.35
     Facile |         18       24.32       75.68
       Cher |         18       24.32      100.00
------------+-----------------------------------
      Total |         74      100.00

In [6]:
* Using mat1 matrix
putexcel A1 = (" Table 1: One way table") A2 = matrix(mat1) // here, we have only frequences colonne

file mystatxl.xlsx saved

In [7]:
* Using tab2xl
tab2xl prixg using mystatxl, summarize(price) row(10) col(1)

file mystatxl.xlsx saved

In [8]:
* Using [x]table
table prixg, contents(freq mean price)

------------------------------------
    prixg |       Freq.  mean(price)
----------+-------------------------
   Facile |          18      3,891.7
    Moyen |          19      4,576.9
     Cher |          18      5,673.8
      Dur |          19       10,373
------------------------------------

In [9]:
* xtable without output (noput)
xtable prixg, contents(freq mean price) row col format(%12.2f) noput
putexcel A20 = ("Table 3: Nice tables") A21 = matrix(r(xtable))

--------------------------------------
    prixg |        Freq.   mean(price)
----------+---------------------------
   Facile |        18.00       3891.72
    Moyen |        19.00       4576.89
     Cher |        18.00       5673.78
      Dur |        19.00      10373.11
          |
    Total |        74.00       6165.26
--------------------------------------

file mystatxl.xlsx saved

In [10]:
* tabstat: Oneway summarize
tabstat mpg price weight length, by(prixg) stat(mean n) format(%9.1f) save
putexcel A50 = ("Table 5: Tabstat") A51 = matrix(r(StatTotal))

Summary statistics: mean, N
  by categories of: prixg

 prixg |       mpg     price    weight    length
-------+----------------------------------------
Facile |      23.8    3891.7    2693.9     178.3
       |      18.0      18.0      18.0      18.0
-------+----------------------------------------
 Moyen |      23.4    4576.9    2741.6     178.7
       |      19.0      19.0      19.0      19.0
-------+----------------------------------------
  Cher |      20.2    5673.8    3092.8     193.8
       |      18.0      18.0      18.0      18.0
-------+----------------------------------------
   Dur |      17.9   10373.1    3536.3     200.7
       |      19.0      19.0      19.0      19.0
-------+----------------------------------------
 Total |      21.3    6165.3    3019.5     187.9
       |      74.0      74.0      74.0      74.0
------------------------------------------------

file mystatxl.xlsx saved

### <span style="color:olive"> I.2 Two-way tables and more output </span>

In [11]:
* Two way tables
tabulate prixg foreign, row all matcell(mat2)
quietly elabel list (prixg)
matrix rownames mat2 = `r(labels)'
quietly elabel list (foreign)
matrix colnames mat2 = `r(labels)'
putexcel A30 = ("Table 4: two way table with matrix") A31 = matrix(mat2), names

+----------------+
| Key            |
|----------------|
|   frequency    |
| row percentage |
+----------------+

           |       Car type
     prixg |  Domestic    Foreign |     Total
-----------+----------------------+----------
    Facile |        14          4 |        18
           |     77.78      22.22 |    100.00
-----------+----------------------+----------
     Moyen |        15          4 |        19
           |     78.95      21.05 |    100.00
-----------+----------------------+----------
      Cher |        11          7 |        18
           |     61.11      38.89 |    100.00
-----------+----------------------+----------
       Dur |        12          7 |        19
           |     63.16      36.84 |    100.00
-----------+----------------------+----------
     Total |        52         22 |        74
           |     70.27      29.73 |    100.00

          Pearson chi2(3) =   2.3533   Pr = 0.502
 likelihood-ratio chi2(3) =   2.3751   Pr = 0.498
               Cram√©r's V =   0.1783
                    gamma =   0.2434  ASE = 0.180
          Kendall's tau-b =   0.1377  ASE = 0.104





file mystatxl.xlsx saved

In [12]:
* xtable without output (noput)
table prixg foreign, contents(freq mean price) row col format(%12.2f)
xtable prixg foreign, contents(freq mean price) row col format(%12.2f) noput
putexcel A40 = ("Table 3: Nice tables") A41 = matrix(r(xtable))

----------------------------------------------------
          |                 Car type
    prixg |     Domestic       Foreign         Total
----------+-----------------------------------------
   Facile |        14.00          4.00         18.00
          |      3901.07       3859.00       3891.72
          |
    Moyen |        15.00          4.00         19.00
          |      4592.00       4520.25       4576.89
          |
     Cher |        11.00          7.00         18.00
          |      5610.09       5773.86       5673.78
          |
      Dur |        12.00          7.00         19.00
          |     10880.00       9504.14      10373.11
          |
    Total |        52.00         22.00         74.00
          |      6072.42       6384.68       6165.26
----------------------------------------------------


----------------------------------------------------
          |                 Car type
    prixg |     Domestic       Foreign         Total
----------+-----------------------------------------
   Facile |        14.00          4.00         18.00
          |      3901.07       3859.00       3891.72
          |
    Moyen |        15.00          4.00         19.00
          |      4592.00       4520.25       4576.89
          |
     Cher |        11.00          7.00         18.00
          |      5610.09       5773.86       5673.78
          |
      Dur |        12.00          7.00         19.00
          |     10880.00       9504.14      10373.11
          |
    Total |        52.00         22.00         74.00
          |      6072.42       6384.68       6165.26
----------------------------------------------------

file mystatxl.xlsx saved

In [16]:
* To end the excel file and save it in memory
putexcel close

## <span style="color:olive"> II. Word files exporting using putdocx, tab2doc command </span>

In [17]:
* Looking help for putdocx
which putdocx

C:\Program Files (x86)\Stata15\ado\base\p\putdocx.ado
*! version 1.3.3  30oct2017

In [18]:
* To start a docx file for exporting
putdocx begin, pagesize(A4) font(Arial, 12., black)
putdocx paragraph, style(Title) halign(center) font(Arial, 14., black)
putdocx text ("Data treatment with STATA 15.1"), bold linebreak(2)

### <span style="color:olive"> II.1 One way simple and summary tables </span>

In [20]:
* One way simple tables with putdocx
tabulate prixg, sort matcell(tdocx)
putdocx table tdocx1 = matrix(tdocx), nformat(%9.1f)

      prixg |      Freq.     Percent        Cum.
------------+-----------------------------------
      Moyen |         19       25.68       25.68
        Dur |         19       25.68       51.35
     Facile |         18       24.32       75.68
       Cher |         18       24.32      100.00
------------+-----------------------------------
      Total |         74      100.00

(note: table tdocx1 has been redefined)

In [21]:
* One way simple tables with tab2docx
putdocx paragraph, halign(left)
tab2docx prixg

In [22]:
* One way summary table: putdocx
preserve // For save the first data
statsby moyenne=r(mean) ecart=r(sd) mediane=r(median), by(prixg) clear: summarize mpg, detail
putdocx paragraph, halign(center)
putdocx table tdocx2 = data(prixg moyenne ecart mediane), varnames
restore // for reusing the last data

(running summarize on estimation sample)

      command:  summarize mpg, detail
      moyenne:  r(mean)
        ecart:  r(sd)
      mediane:  r(median)
           by:  prixg

Statsby groups
----+--- 1 ---+--- 2 ---+--- 3 ---+--- 4 ---+--- 5
....

In [23]:
* One way summary table: matrix saving
tabstat headroom mpg, by(prixg) stat(mean count) f(%9.1f) save
putdocx paragraph, halign(center)
putdocx table tdocx3 = matrix(r(StatTotal))

Summary statistics: mean, N
  by categories of: prixg

 prixg |  headroom       mpg
-------+--------------------
Facile |       3.1      23.8
       |      18.0      18.0
-------+--------------------
 Moyen |       2.9      23.4
       |      19.0      19.0
-------+--------------------
  Cher |       2.8      20.2
       |      18.0      18.0
-------+--------------------
   Dur |       3.1      17.9
       |      19.0      19.0
-------+--------------------
 Total |       3.0      21.3
       |      74.0      74.0
----------------------------

In [24]:
* One way summary table with tab2doc
putdocx paragraph, halign(center)
tab2docx prixg, summarize(mpg)

(note: table t1 has been redefined)

In [25]:
* Take a look at the docx file
putdocx describe

  --------------------+-----------------------
  No. of tables       |  6
  No. of paragraphs   |  5

### <span style="color:olive"> II.2 Two way simple and summary tables </span>

In [26]:
* Start a new page
putdocx pagebreak

In [27]:
* Two way simple table: tabulate command
tabulate prixg mpg_cat, row nofreq matcell(mt)
quietly elabel list (prixg)
matrix rownames mt = `r(labels)'
quietly elabel list (mpg_cat)
matrix colnames mt = `r(labels)'
putdocx paragraph, halign(center)
putdocx table tdocx4 = matrix(mt)

           |                   mpg_cat
     prixg |   Low mpg  medium mp   Good mpg  Great mpg |     Total
-----------+--------------------------------------------+----------
    Facile |      0.00      27.78      38.89      33.33 |    100.00
     Moyen |      5.26      31.58      21.05      42.11 |    100.00
      Cher |     27.78      33.33      27.78      11.11 |    100.00
       Dur |     63.16       0.00      21.05      15.79 |    100.00
-----------+--------------------------------------------+----------
     Total |     24.32      22.97      27.03      25.68 |    100.00

In [28]:
* we use smrtbl (smart table) commdand 
putdocx paragraph, halign(center)
smrtbl prixg mpg_cat

           |                 decmpg_cat
  decprixg |  Good mpg  Great mpg    Low mpg  medium .. |     Total
-----------+--------------------------------------------+----------
      Cher |         5          2          5          6 |        18
       Dur |         4          3         12          0 |        19
    Facile |         7          6          0          5 |        18
     Moyen |         4          8          1          6 |        19
-----------+--------------------------------------------+----------
     Total |        20         19         18         17 |        74

smrtbl Two-way table production successful. Table named: smrfmn generated _prixg_tbl varlist : prixg mpg_cat

In [30]:
putdocx save taldoc.docx, replace
*putdocx describe
*putdocx clear

## <span style="color:olive"> III. Excel and Word files exporting using tabout (v.3) command </span>

In [31]:
* We are using the last version of tabout
which tabout

c:\ado\plus\t\tabout.ado
*! Version 3.0.9 beta Ian Watson 17apr2019
*! Stata 14.2 (or later) version

### <span style="color:olive"> III.1 Excel files exporting </span>

In [32]:
* One way with multiple variables: tabout (v.3)
tab1 prixg foreign, sort

-> tabulation of prixg

      prixg |      Freq.     Percent        Cum.
------------+-----------------------------------
      Moyen |         19       25.68       25.68
        Dur |         19       25.68       51.35
     Facile |         18       24.32       75.68
       Cher |         18       24.32      100.00
------------+-----------------------------------
      Total |         74      100.00

-> tabulation of foreign

   Car type |      Freq.     Percent        Cum.
------------+-----------------------------------
   Domestic |         52       70.27       70.27
    Foreign |         22       29.73      100.00
------------+-----------------------------------
      Total |         74      100.00

In [40]:
* tabout oneway simple table
tabout foreign prixg using taboutfile.xlsx, replace style(xlsx) font(bold) oneway contents(freq col cum) f(0c 1) ///
 clab(Count Col_% Cum_%) twidth(11) npos(col) nlab(Sample) location(2 2) title(Table: Oneway) fn(Source: I. TALL)

Table output written to: taboutfile.xlsx

In [41]:
* tabout oneway summary table (when specify multi stat vars, we don't need to add oneway option)
tabout foreign prixg using taboutfile.xlsx, append style(xlsx) font(bold) twidth(13) sum npos(tufte) ///
 contents(mean mpg mean weight mean length median price median headroom) f(1c 1c 1c 2cm 1c) h2(Mean Median) h2c(3 2) ///
 clab(MPG WEIGHT LENGTH PRICE HEADROOM) location(20 2) title(Table: Oneway summary) fn(Source: I. TALL)

Table output written to: taboutfile.xlsx

In [42]:
* Tabout simple two-way table
tabout prixg mpg_cat foreign using taboutfile.xlsx, append style(xlsx) font(bold) contents(freq row col) f(0c 1 1) ///
 layout(rb) h3(nil) twidth(11) location(50 2) title(Table: Two-way tabout) fn(Source: I. Tall)

Table output written to: taboutfile.xlsx

In [43]:
* Tabout summary two way table (sum option requiert)
tabout prixg mpg_cat foreign using taboutfile.xlsx, append style(xlsx) font(bold) contents(mean headroom mean price median length) f(0c 1 1) ///
 twidth(11) sum location(95 2) title(Table: Two-way tabout) fn(Source: I. Tall)

Table output written to: taboutfile.xlsx

> <span style="color:SpringGreen">npos</span>: Position of n size, col row tufte (adding to var labels), lab  
> <span style="color:SpringGreen">h1,h2,h3</span>: Goes pairs with <span style="color:SpringGreen">h1c,h2c, h3c</span>    
> <span style="color:SpringGreen">location</span>: Excel cells location   
><span style="color:SpringGreen">clab, nlab, plab, caplab, stlab, pluglab</span>: for labelling column, p-value, ...
>

### <span style="color:olive"> III.2 Word files exporting </span>

<span style="color:SpringGreen">docx</span> style does not append result and <span style="color:SpringGreen">location</span> is not appropriate. For the rest, the syntax is the same.

In [ ]:
exit, clear